body {
    background: #96DFD0;
}

.grid-container {
    width: 82%;
    height: 368px;
    display: grid;
    background-image:
    linear-gradient(rgb(51, 255, 119), rgb(0, 145, 202));
    border-radius: 5%;
    box-shadow: 7px 26px 80px -9px rgba(47,168,189,1);
    grid-template-areas:
        'header header header header'
        'header2 header2 header2 header2'
        'main1 main2 main3 main4'
        'main5 main6 main7 main8'
        'main9 main10 main11 main12'
        'main13 main13 main14 main14';
    margin: auto;
    overflow: hidden;
}
button {
    border: none;
    background: transparent
}
input{
    opacity: 0.5;
    filter: alpha(opacity=50);
    grid-area: header;
    border: none;
    padding: 0 5% 5% 5%;
    overflow: hidden; 
}
#resultShow{
    grid-area: header2 !important;
    text-align: right;
    border: none;
}
button {
    text-align: center;
}
#item1{ grid-area: main1}
#item2{ grid-area: main2}
#item3{ grid-area: main3}
#item4{ grid-area: main4}

#item5{ grid-area: main5}
#item6{ grid-area: main6}
#item7{ grid-area: main7}
#item8{ grid-area: main8}

#item9{ grid-area: main9}
#item10{ grid-area: main10}
#item11{ grid-area: main11}
#item12{ grid-area: main12}

#item13{ grid-area: main13}
#item14{ grid-area: main14}

