body {
    background: #96DFD0;
    display: flex;
}
div.flex-container {
    width: 130px;
    height: 152px;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 5%;
    background: white;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5%;
    background: gray;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}